@import '../../../../variables.module.scss';

.knowMore {
  font-family: 'Nunito', sans-serif;
  background-color: transparent !important;
  border: 0 !important;
  padding-left: 0 !important;
  box-shadow: none !important;
  margin-bottom: -1;

  .faqQuestion {
    font-family: 'Nunito', sans-serif;
    color: $primary-color;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    margin: 0;
  }
  .faqContent {
    font-family: 'Nunito', sans-serif;
    font-weight: 500;
    font-size: 10px;
    line-height: 12px;
    color: #8c8c8c;
    padding: 0;
  }

  p {
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    color: #8c8c8c;
  }
}
