@import '../../../variables.module.scss';

.navbar {
  display: flex;
  align-items: center;
  flex-grow: 0;
  justify-content: space-between;
  padding: 0.7rem 1rem;
  top: 0;
  z-index: 50;

  @media screen and (max-width: 600px) {
    font-size: 10px;
    flex-direction: column;
  }

  @media screen and (min-width: 900px) {
    font-size: 12px;
  }

  .logoGroup {
    margin-left: 20px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    .logoText {
      display: flex;
      align-items: flex-end;
      .title {
        font-weight: 600;
        font-size: 18px;
        line-height: 1.3rem;
        margin-left: 10px;
        color: $dark-primary-color;
        @media screen and (max-width: 320px) {
          font-size: 12px;
        }
      }
    }

    .logo {
      height: 2.5rem;
      line-height: 1.3rem;

      @media screen and (max-width: 320px) {
        height: 2rem;
      }
    }

    @media screen and (max-width: 800px) {
      margin-left: 0;
    }
  }

  .navLinks {
    .navLink {
      flex-grow: 0;
      color: $primary-color;
      margin: 0.75rem 1rem;
      text-decoration: none;
      font-weight: 500;
      font-size: 14px;
      line-height: 17px;
      padding: 19px 30px;
      margin: 5px;
      &.active {
        color: $primary-color;
        border-bottom: 4px solid $primary-color;
      }
      &.disabled {
        cursor: not-allowed;
      }
    }
    @media screen and (max-width: 960px) {
      display: none;
    }
  }

  .right {
    display: flex;
    align-items: center;

    @media screen and (max-width: 600px) {
      margin-top: 15px;
    }

    .account {
      color: $dark-primary-color;
      border: 1px solid $dark-primary-color;
      padding: 11.25px 10px;
      margin-right: 10px;

      @media screen and (max-width: 380px) {
        padding: 7px 10px;
      }
    }

    .btn {
      color: white;
      background-color: $primary-color;
      height: 40px;
      max-width: 160px;
      width: 160px;
      border-radius: 0;
      padding: 13px 10px;
      display: flex;
      align-items: center;

      font-family: Nunito;
      font-style: normal;
      font-weight: 500;
      font-size: 12px;
      line-height: 15px;
      color: #ffffff;

      text-transform: uppercase;
      border-bottom: 2px solid $dark-primary-color !important;
      white-space: nowrap;

      outline: none;
      border: none;
      cursor: pointer;
      justify-content: center;
      transition: all 0.1s ease-in-out;
      &:hover {
        background-color: $dark-primary-color;
      }

      @media screen and (max-width: 380px) {
        align-items: center !important;
        font-size: 8px;
        height: 30px;
      }
    }

    .btnText {
      @media screen and (max-width: 350px) {
        margin-top: 2px;
      }
    }
  }
}

.logoText {
  display: flex;
}

@media screen and (max-width: 380px) {
  .navbar {
    padding: 0.7rem 0.3rem;
  }

  .logoGroup {
    margin-left: 0 !important;
    font-family: Nunito;
    .title {
      margin-left: 2px !important;
    }
  }

  .btn {
    width: 120px !important;
  }
}
